.sidebar {
  width: 235px;
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0 20px 20px;
  margin-bottom: 15px;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.logo-text {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);
}

.sidebar-nav {
  flex: 1;
}

.sidebar-nav ul {
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  color: var(--text-secondary);
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 6px 24px;
  border-radius: 8px;
}

.nav-item:hover {
  background-color: var(--hover-color);
}

.nav-item.active {
  background-color: var(--active-bg);
  color: var(--primary-color);
}

.nav-item .material-icons-outlined {
  margin-right: 12px;
  font-size: 20px;
}

.sidebar-footer {
  margin-top: auto;
  /* border-top: 1px solid var(--border-color); */
  padding-top: 15px;
}

/* .sidebar-footer .nav-item {
  margin-bottom: 0;
} */